@import "tailwindcss";

:root {
  --background: #fcf8f8;
  --foreground: #1b0e0e;
  --accent: #994d51;
  --accent-light: #f3e7e8;
  --border: #e7d0d1;
  --success: #07885d;
  --error: #ea2a33;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta-sans), "Noto Sans", sans-serif;
}
